<div class="tithe-container">
	<h1 class="page-title">Thank you <%= current_user.email %> for tithing </h1>
	<p class="center">You will receive an email reciept shortly.</p>
	<%= link_to "Home", root_path, class: "center" %>
</div>