<section class="little-about">
	<div class="image-container center-img">
		<%= image_tag('staff-church-img.jpg', class: 'front-img') %>
	</div>

	<div class="container">
		<section class="little-about-text">
			<h1 class="section-title">Every member in Ministry</h1>
			<p>We invite you to come and worship with us, as we offer praises to the God of salvation. We are involved in many ministries at Asbury Broadneck United Methodist Church.  There is room for you and your family.  Please consider becoming a part of our efforts.  There is a place, a ministry, a work for you here.</p>
		</section>
		<div class="center-btn">
			<%= link_to "Join us", pages_schedules_path, id: 'btn' %>
		</div>
	</div>

	<section class="mission-value-vision">
		<div class="container">
			<section class="mission group">
				<h1 class="section-title">Our Mission</h1>
				<p>We exist to build God’s kingdom by welcoming people into relationship with God and each other, encouraging and equipping people to have a faith that works in everyday life, and sending disciples to serve the world in Jesus' name.</p>
			</section>
			<section class="vision group">
				<h1 class="section-title">Our Vision</h1>
				<ul>
					<li>	Use and share our time, talents and treasure to win souls for Christ</li>
					<li>Be a unified church in purpose and deed that communicates as one body</li>
					<li>Minister to the needs of all ages</li>
					<li>Adapt to cultural changes</li>
					<li>Be consistent in evangelism outside the church walls to reach all of God’s people</li>
					<li>Hold each other accountable to produce fruit for the glory of God.</li>
					</ul>
			</section>
			<section class="value group">
				<h1 class="section-title">Our Values</h1>
				<p>Continually reintermediate customized collaboration and idea-sharing rather than market positioning customer service. Continually evisculate 2.0 products via cross-unit e-business. Enthusiastically supply maintainable functionalities without long-term.</p>
			</section>
		</div>
	</section>

	<section class="church-info group">
		<div class="container">
			<section class="location-email">
				<h4>Location</h4>
				<%= link_to "657 Broadneck Road Annapolis Maryland 21409", "https://www.google.com/maps/place/657+Broadneck+Rd,+Annapolis,+MD+21409/@39.029246,-76.4700668,14z/data=!4m2!3m1!1s0x89b802a964fb69cf:0x1471ef542bc58876", class: 'address-link' %>
			</section>
			<section class="location-email">
				<h4>Email</h4>
				<p>hello@asburybroadneck.com</p>
			</section>
		</div>
	</section>

	<div class="image-container center-img">
		<%= image_tag('forest-1.jpg', class: 'front-img') %>
	</div>

	<section class="favorite-verses">
		
	</section>

</section>

<section id="map"></section>



<!-- AIzaSyDCnbZFAkvDO9kFzyGW7-6tRBxlRx5npus -->