<div class="container">
	<h1 class="page-title">Ministries</h1>
	<section>
		<section class="ministry-group">
			<h2>Couples Ministry</h2>
			<p>This ministry is intended to provide Christian based spiritual guidance for all married couples.</p>
		</section>

		<section class="ministry-group">
			<h2>Dance Ministry</h2>
			<p>Trinity Angels creative dance group for ages 8 and up.</p>
		</section>

		<section class="ministry-group">
			<h2>Drama/Voices Ministry</h2>
			<p>Theatrical group for persons of all ages.</p>
		</section>

		<section class="ministry-group">
			<h2>Education Ministry</h2>
			<p>Ministry for supporting and encouraging students in their school and religious studies.  An Higher Education branch of the group was formed in the 1980's to give special attention to supporting and encouraging higher education students.</p>
		</section>

		<section class="ministry-group">
			<h2>Family Ministry</h2>
			<p>Activities designed to strengthen the various aspects of Christian family life.</p>
		</section>

		<section class="ministry-group">
			<h2>Men's Ministry</h2>
			<p>All men, young and old, please join us in Men's Ministry Bible Study every Sunday morning at 9:30 am in the church chapel.  Spread the word.  It's for all men.  Bring a friend.  Men's Ministry also supports Bible study, discussion groups and fellowship activities specifically designed for men of all ages.  Brother Randy Truesdale, Chairperson.</p>
		</section>

		<section class="ministry-group">
			<h2>Dance Ministry</h2>
			<p>Trinity Angels creative dance group for ages 8 and up.</p>
		</section>

		<section class="ministry-group">
			<h2>Music Ministry</h2>
			<p>These choirs provide music ministry on a regular monthly schedule for the regular Sunday services at the church. They sing at various special services, functions and programs held by or at the church. They travel with the pastor to sing for various services and events. They are invited to sing at various church and community event.  Each choir also has an anniversary performance each year.</p>

			<p>The Angelic Celestial Choir, Mass Choir and Male Chorus are directed by Brother Alvin Stansbury (Keyboard) supported by his son David Stansbury (Drums) and other musicians. The Inspirational Choir and Junior Choir are directed by Brother Donald Hunt (Keyboard), support by his son Donald Hunt Jr. (Drums) and other musicians.</p>
		</section>

		<section class="ministry-group">
			<h2>Young Adult Ministry</h2>
			<p>Activities designed to help young adults to address the challenges of raising a family and starting a career.</p>
		</section>

		<section class="ministry-group">
			<h2>Youth Ministry</h2>
			<p>A separate worship service led and coordinated with young adults teaching youth how to make the Word of God real in their daily lives.</p>
		</section>

		<section class="ministry-group">
			<h2>Women's Ministry</h2>
			<p>Come be apart of the Women's Ministry at Asbury Broadneck Church.  We are women who are on a mission for the Lord.  Enjoy food, fellowship and fun at the same time we will be working unto the glory of the Lord.  Women's Ministry supports Bible study, discussion groups and fellowship activities specifically designed for women of all ages.   The mission of Women's Ministry is to reach women where they are on their journey with Christ.  Sister Virginia Thomas, Chairperson.</p>
		</section>
	</section>
</div>