<div class="container">
	<h1 class="page-title">Church Schedules</h1>
	<section class="activity">
		<h2 class="activity-title">Weekly Sunday Worship Experience</h2>
		<p>Sunday School: 	<span class="time">9:00 am</span></p>
		<p>New Converts Class: 	<span class="time">9:00 am</span></p>
		<p>Bible Study - Men: 	<span class="time">9:00 am</span></p>
		<p>Bible Study - Women: 	<span class="time">9:00 am</span></p>
		<p>Worship Service: 	<span class="time">10:00 am</span></p>
		<p><span class="m-line">Healing Service </span>(First Sunday):<span class="time">After 10 am Worship</span></p>
	</section>
	<section class="activity">
		<h2 class="activity-title">Choirs Schedule</h2>
		<p>Worship Service <span class="time">10:00am</span></p>
		<p>Sunday Choir</p>
		<p>1st 	Mass / Combined Choir</p>
		<p>2nd 	Angelic Celestial and Male Chorus</p>
		<p>3rd 	Chancel Choir</p>
		<p>4th 	Inspirational and Junior Choirs</p>
		<p>5th 	Male Chorus</p>
		<p>Nu School Praise Team, Praise Steppers, Trinity Angels and Voices when scheduled.</p>
		<p>--- Click Here for Rehearsal Schedules ---</p>
		<p>Prayerfully let us sing to the glory of God!  Always be glade to hear the word of God through song.  Thank you for sharing your gift.  Rev. Tillett</p>
	</section>
	<section class="activity">
	  <h2 class="activity-title">Office Hours:</h2>  
	  <p>Monday   10:00 a.m. to 4:00 p.m.</p>
	  <p>Tuesday - Friday 9:00 a.m. to 3:00 p.m.</p>
	</section>
	<section class="activity">
		<h2 class="activity-title">Regularly Scheduled Meetings</h2>
		<!--Meeting 	Days of Month/Week 	Time -->
		<p><span class="m-line">All Ministries Meeting </span>Night - Joint 1st Mondays <span class="time">7:00 pm</span></p>
		<p><span class="m-line">Pastor's Bible Study</span> Wednesdays <span class="time">7:00 pm</span></p>
		<p><span class="m-line">Topical Bible Study</span>Wednesdays <span class="time">7:00 pm</span></p>
		<p><span class="m-line">Education Ministry -</span> Normal 2nd Thursday <span class="time">7:00 pm</p>
		<p><span class="m-line">Evangelism Ministry -</span> Normal 1stThursday <span class="time">7:00 pm</span></p>
		<p><span class="m-line">Family Ministry -</span> Normal 2ndThursday</span><span class="time">6:15 pm</span></p>
		<p>Fitness 	Mondays <span class="time">6:30 pm</span></p>
		<p><span class="m-line">Funding Ministry</span> - Normal 2nd Tuesday <span class="time">7:00 pm</span></p>
		<p><span class="m-line">Higher Education Ministry -</span> Normal 2nd Monday <span class="time">7:00 pm</span></p>
		<p><span class="m-line">Ministerial Team Meeting </span>1st Tuesday <span class="time">7:30 pm</span></p>
		<p><span class="m-line">Nominations Meeting</span> 1st Monday <span class="time">7:00 pm</span></p>
		<p><span class="m-line">Nurses Meeting 	4th </span>Thursday <span class="time">7:00 pm</span></p>
		<p><span class="m-line">Nu School Praise Team </span>2nd, 3rd, 4th Thursday <span class="time">8:00 pm</span></p>
		<p><span class="m-line">Prayer and Praise </span>Wednesdays <span class="time">6:30 pm</p>
		<p>Prayer Team 	Tuesdays  <span class="time">6:30 pm</span></p>
		<p>Praise Steppers 	Thursdays <span class="time">7:00 pm</span></p>
		<p>S.P.A.R.S. 	2nd Tuesday <span class="time">9:30 am</span></p>
		<p>S.P.A.R.S. 	2nd Tuesday <span class="time">7:30 pm</span></p>
		<p>TABYAS 	2nd Monday <span class="time">6:45 pm</span></p>
		<p><span class="m-line">Topical Bible Study </span>Wednesdays <span class="time">7:00 pm</span></p>
		<p>Trinity Angels 	Thursdays <span class="time">6:00 pm</span></p>
		<p><span class="m-line">Trustees Meeting </span>2nd or 3rd Tuesday <span class="time">7:00 pm</span></p>
		<p><span class="m-line">United Methodist Men </span>When Scheduled <span class="time">7:00 pm</s</p>
		<p><span class="m-line">United Methodist Women </span>When Scheduled <span class="time">7:00 pm</p>
		<p><span class="m-line">United Methodist Youth </span>Fellowship (MYF) 	Tuesdays <span class="time">6:30 pm</span</p>
		<p><span class="m-line">Ushers Meeting </span>1st Thursday <span class="time">8:00 pm</span</p>
		<p>Voices 	Mondays <span class="time">6:00 pm</s</p>
		<p><span class="m-line">Worship Ministry - </span>Joint 1st Thursday <span class="time">7:00 pm</span</p>
	</section>
	<section class="activity">
		<h2 class="activity-title">Scheduling Notes</h2>
		<p>Scheduling Events:</p> 	
		<p>All ministries and organizations, please remember to clear all dates you are planning with the church office calendar and trustees before scheduling to avoid scheduling conflicts.</p>
		<p>Canceling Events:</p>
		<p>Please be kind and let the trustees know if you are canceling a meeting or event.</p>
		<p>More Information:</p> 	
		<p>For the latest schedule of meeting, check the church bulletin or contact the church office during scheduled office hours.</p>
	</section>
</div>
