<div class="container" id="staff">

	<h1 class="page-title">Our Staff</h1>	 

	<%= image_tag "church-pic.jpg" %>

	<section class="church-staff">
		<h3>District Superintendent Annapolis District: </h3>
		<p>Rev. Evan Young</p> 	
	</section>

	<section class="church-staff">
		<h3>Pastor:</h3>
		<p>Rev. Stephen Andrew Tillett I</p>
	</section>

	<section class="church-staff">
		<h3>Lay Servants</h3> 	
		<div class="lay-servants">
			<p>Sister Ann Anderson (Leader)</p>
			<p>Brother Ralph Chew</p>
			<p>Sister Mary Colbert</p>
			<p>Sister Celestine Henderson</p>
			<p>Sister Crystal Johnson</p>
			<p>Sister Linda Johnson</p>
			<p>Sister Althea Phillips (Evangelist)</p>
			<p>Brother Randy Rowel</p>
			<p>Sister Virginia Carr-Mack</p>
			<p>Sister Mary Maynard</p>
			<p>Brother Randy Truesdale</p>
		</div>
	</section>

	<section class="church-staff">
		<h3>Minister of Music: </h3> 
		<p>Brother Alvin Stansbury</p>
	</section>

	<section class="church-staff">
		<h3>Office Administrator: </h3> 
		<p>Sister Matsudo Wallace</p>
	</section>

	<section class="church-staff">
		<h3>Trustees</h3> 	
		<div class="trustees">
			<p>Brother Melvin Ball    (Video Security)</p>
			<p>Brother Shron Colbert   (Building Maintenance)</p>
			<p>Brother Rodney Parker Sr   (Grounds)</p>
			<p>Brother Grafton Johnson, Jr.  (Cemetery)</p>
			<p>Sister Angela Muse   (Chairperson)</p>
			<p>Sister Michele Turner   (Secretary and Facility Use)</p>
			<p>Brother Bryan Cowser</p>
			<p>Sister Karla Floyd (Vice Chairperson and Transportation)</p>
			<p>rother LaGrant Chambers (Kitchen & In Faith Liaison)</p>
			<p>Brother Alvin Stansbury</p>
		</div>
	</section>
	 
	<section class="church-staff">
		<h3>Conference Lay Member(s)</h3> 	
		<div class="trustees">
			<p>Conference Lay Member - Sister Michele Turner</p>
			<p>Conference Lay Member - Sister Sandra Cromwell</p>
		</div>
	</section> 

	<section class="church-staff">
		<h3>Sunday School Superintendent</h3>	
		<p>- Vacant -</p>
	</section>
	 
	<section class="church-staff">
		<h3>Staff / Pastor / Parish Relations Chair</h3>	
		<p>Brother Randy Rowel</p>
	</section>
	  	 
	<section class="church-staff">
		<h3>Cross Academy Summer Camp, Director</h3>
		<p>Brother Ralph Chew - Director</p>
	</section>

	<section class="church-staff">
		<h3>In Faith Christian School Office</h3>
		<p>410.757.7680</p>
	</section>
	  	 
	<h2>Facilities:</h2> 	

	<section class="church-staff">
		<h3>Sanctuary</h3>	
		<p>Brother Grafton Johnson, Jr.</p>
	</section>

	<section class="church-staff">
		<h3>Kitchen</h3> 	
		<p>Brother LaGrant Chambers</p>
	</section>

	<section class="church-staff">
		<h3>Cemetery</h3>
		<p>Brother Grafton Johnson, Jr</p>
	</section>

	<section class="church-staff">
		<h3>Church Maintenance Worker(s)</h3>	
		<div class="church-maintenence">
			<p>Brother LaGrant Chambers</p>
			<p>Brother Dion Harris</p>
		</div>
	</section>

	<section class="church-staff">
		<h3>Food Pantry</h3>	
		<p>The food Pantry will be open each month on 2nd and 3rd Friday from 11:30 am to 1:00 pm.  Sister and Brother Rosa and Lloyd Thomas Coordinators</p>
	</section>

	<section class="church-staff">
		<h3>Church Buses Reservations</h3>	
		<div class="church-buses">
			<p>Sister Karla Floyd</p>
		</div>
	</section>

	<section class="church-staff">
		<h3>Finance Ministry</h3> 	
		<div class="finance-ministry">
			<p>Sister Kimberly Anderson</p>
			<p>Brother Rodell Anderson</p>
			<p>Sister Charbet Duckett</p>
			<p>Sister Katherine Simms (Treasurer)</p>
			<p>Sister Frances George</p>
			<p>Sister Deborah Henson (Secretary)</p>
			<p>Brother Calvin Johnson</p>
			<p>Sister Dottie Johnson</p>
			<p>Sister Helen Lincoln</p>
			<p>Sister Standola Reynolds (Chairperson)</p>
			<p>Brother Ralph Thomas (Assistant Treasurer)</p>
		</div>
	</section>

	<section class="church-staff">
		<h3>Tithing</h3> 	
		<p>"Will a man rob God? Yet you rob me. But you ask, 'How do we rob you?' In tithes and offerings. You are under a curse-the whole nation of you-because you are robbing me. Bring the whole tithe into the storehouse, that there may be food in my house. Test me in this", says the LORD Almighty, "and see if I will not throw open the floodgates of heaven and pour out so much blessing that you will not have room enough for it. I will prevent pests from devouring your crops, and the vines in your fields will not cast their fruit," says the LORD Almighty.  "Then all the nations will call you blessed, for yours will be a delightful land," says the LORD Almighty."</p>  
		<p>Malachi 3:8-12 (NIV)</p>

		<p>Remember this: Whoever sows sparingly will also reap sparingly, and whoever sows generously will also reap generously. Each man should give what he has decided in his heart to give, not reluctantly or under compulsion, for God loves a cheerful giver. And God is able to make all grace abound to you, so that in all things at all times, having all that you need, you will abound in every good work. <p>2 Corinthians 9: 6 - 8 (NIV)</p>
	</section>
	 
	<section class="church-staff">
		<h3>Cemetery Policies</h3>	
		<p>Asbury Broadneck United Methodist Church 657 Broadneck Rd Annapolis, MD 21409 410-757 2995</p>

		<ol class="cemetery-policies">
			<li><p>Asbury Broadneck United Methodist Church Cemetery is the property of said church, and as such is governed on the behalf of the congregation by the members of the Board of Trustees under the jurisdiction of the Church Council. The use and primary purpose of the cemetery is for the interment of the membership of Asbury Broadneck United Methodist Church</p></li>

			<li><p>The cemetery is for Asbury Broadneck United Methodist Church members.</p></li>

			<li><p>A member for this purpose is defined as: Any person that has his/her name on the Church Membership Roster, have been baptized and professed their faith and one who has been tithing, or giving regularly within the last two years. This statement does not include members in nursing homes, school, military, incarcerated or if your health prevents you from attending church services. For any unique situations not specifically listed in the above statement, the Board of Trustees reserves the right to make decisions on a case by case basis.</p>

			<li><p>It is understood that a member’s child who is under 18 years old or an adult who is physically and/or mentally challenged will be considered a member.</p></li>

			<li><p>There will be no advance selection of plots, however there will be provisions for adjoining plots in these circumstances, (with notification of intent at first burial):</p></li>
				<ol>

					<li><p>A Spouse</p></li>

					<li><p>When a person who is single and a member of Asbury Broadneck Church predeceases his/her parent(s), the parents will be given the opportunity to reserve grave plot(s) beside the deceased.</p></li>

					<li><p>When a member of Asbury Broadneck United Methodist Church predeceases his/her child who is single, the child will be given the opportunity to reserve grave plot(s) beside the deceased.</p></li>

					<li><p>For any plot reservation a grave marker must be erected immediately after the erection of the marker on the primary plot.</p></li>

				</ol>

			<li><p>There is no cost for a burial plot for a person who is a member in good standing however there is a $550.00 fee for the opening and closing of the grave which is to be paid by cash or check to ABUMC as a pass through to the grave digger.</p></li>

			<li><p>Maryland law requires the use of an interment receptacle (vault or liner) for the interment of all caskets. This is the responsibility of the family.</p></li>

			<li><p>The members of the Board of Trustees shall keep records of all graves, plots, names, deaths, markers, monies, etc. and shall be responsible for the proper administration and upkeep of Asbury Broadneck United Methodist Church Cemetery.</p></li>

			<li><p>The Board of Trustees recognizes that the care and maintenance of the cemetery is a matter of pride, concern, and interest to the many relatives and the next of kin of those persons interred in the cemetery. It is for this reason that Board of Trustees encourages donations of memorials and bequests to the cemetery fund for the care, maintenance, and upkeep of the cemetery.</p></li>

			<li><p>Your Board of Trustees is the representation of church membership. We are here to support the church member’s while maintaining the church property. Any request, complaints or suggestions must be made in writing to the Board of Trustees and will be addressed and handled accordingly.</p></li>

			<li><p>No bodies are to be buried above ground.</p></li>

			<li><p>Stones are to be 24 inches or less and must be a flat or slanted style.</p></li>

			<li><p>No curbing, chains, shrubs, trees, or bushes shall be put around any plot or grave. Flowers and memorials must be placed on the tombstone not in the grass. All cut flowers to be disposed of after 14 days from time put on grave. With no restriction on artificial flowers except at time of regular cleaning, faded flowers will be discarded by cleaners.</p></li>

			<li><p>The church will not be responsible for damages to crypts or headstones resulting from vandalism or acts of God; any damage must be corrected by the family or authorized representative.</p></li>

			<li><p>The members of the Board of Trustees will place a temporary marker on the gravesite. It is understood that family members or the estate of the deceased have a responsibility to place a permanent marker on the grave of the deceased within two years of burial. After this time if a marker is not placed, the church will place one and bill the family member or authorized representative of the person to be interred who has signed and accepted Asbury Broadneck United Methodist Policies.</p></li>

			<li><p>In case of unusual circumstances not adequately covered by the rules listed, the members of the Board of Trustees have the authority to consider the merits of the case and use its own judgment.</p></li>

			<li><p>A Trustee must be present at the time of the opening and closing of the grave and at the placement of the headstone.</p></li> 

		</ol>
	</section>
</div>