* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	background: #fafafa;
	outline: none;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

img {
	width: 100%;
}

a {
	color: #CF4647;
}

figure {
	margin: 0;
}

/********************************
				Header
/********************************/

.alert-notice {
	padding: 1rem 0;
}

.main-header,
.church-info-container,
.intro-container,
.mvv-container,
.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1.4rem;
}

.header-container, {
	max-width: 100%;
	margin: 0 auto;
}

.signup-container {
	max-width: 300px;
	margin: 0 auto;
	padding: 0 1.4rem;
}

.tithe-container {
	max-width: 250px;
	margin: 0 auto;
	padding: 0 1.4rem;
}


.image-container {
	margin: 0 auto;
}

header {
	height: auto;
	line-height: 5rem;
	width: 100%;
	transition: all 0.3s ease 0s;
}

p.header-p {
	display: inline;
	padding-right: 1rem;
}

#logo,
#d-logo {
	float: left;
	font-size: 1.2rem;
	font-weight: bolder;
	margin: 0;
	color: #222;
	text-decoration: none;
}

#d-logo {
	display: none;
}

#menu-btn {
	float: right;
	background: transparent;
	border: none;
	outline: none;
	font-weight: bold;
}

nav {
	display: none;
}

nav li {
	background: #fafafa;
}

nav a {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	display: block;
	padding: 0.1rem 2rem 0.1rem;
	margin-top: 0.1rem;
	color: #333;
	transition: all 0.3s ease 0s;
}

nav a:hover {
	color: #fff;
	background: #222;
	padding-left: 4rem;
}

.hero-img {
	height: 75%;
	background-image: asset-data-url('alone.jpeg');
	background-repeat: no-repeat;
  background-position: center; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-logout-signin {
	display: none;
}

/********************************
			Mission Value Vision
/********************************/

.little-about-text {
	overflow: hidden;
	padding: 2rem 0;

}

.mission-value-vision {
	margin-top: 4rem;
	padding: 4rem 0;
}

.section-title {
	text-align: center;
	font-size: 1.6rem;
	color: grey;
}

.mission-value-vision {
	background: #222;
}

.mission,
.vision,
.values {
	margin: 4rem 0;
}

.mission p,
.vision p,
.values p {
	color: grey;
	font-size: 1.2rem;
	line-height: 1.8rem;
}

.vision ul li {
	color: grey;
	font-size: 1.2rem;
	line-height: 1.6rem;
	list-style: none;
}

.center-img {
	text-align: center;
}

.front-img {
	display: inline-block;
	background: #fff;
}

.little-about-text h2 {
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	margin: 1rem 0;
}

.little-about-text p {
	font-size: 1.2rem;
	line-height: 1.6;
}

.center-btn {
	text-align: center;
	margin: 2rem 0;
}

#btn,
input[type="submit"],
button[type="submit"] {
	border: none;
	padding: 0.8rem 1.5rem;
	font-size: 1.2rem;
	text-align: center;
	background: #e74c3c;
	color: #fff;
	outline: none;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: 0 5px 1px #c0392b;
}

.btn:hover {
  background: #fff;
  color: #222;
}

input[type="submit"]:hover {
	background: #e74c3c;
	box-shadow: 0 5px 1px #c0392b;
}

#btn:active,
input[type="submit"]:active,
button[type="submit"]:active,
.btn:active {
  padding-top: 5px solid white;
  box-shadow: none;
}

.church-info {
	padding: 5rem 0;
}

h4 {
	margin-bottom: 0.2rem;
}

.location-email {
	margin: 2rem 0;
}

#map {
	height: 25rem;
	border-top: 3px solid #222;
	border-bottom: 3px solid #222;
}

.page-title {
	text-align: center;
	margin-top: 0;
}

.address-link {
	text-decoration: none;
	color: #222;
}

.address-link:hover {
	color: #CF4647;
}

/********************************
					Forms
/********************************/

.field {
	margin: 1.5rem 0;
}

input {
	padding: 0.5rem;
	width: 100%;
}

.e-month,
.e-year {
	width: 48%;
	float: left;
}

.e-month {
	margin-right: 2%;
}

.e-year {
	margin-left: 2%;
}

#payment-form .form-row {
	margin: 1rem 0;
}

button[type="submit"] {
	margin: 1rem 0;
	width: 100%;
}

form + a {
	display: block;
	padding-top: 1rem;
}

	.delete-edit-btn-pastor-blog {
		float: right;
	}


/********************************
					Footer
/********************************/

footer {
	font-size: 0.8rem;
	padding: 2rem 0;
	text-align: center;
}

footer p {
	padding: 0.5rem 0;
}

/********************************
				Media Quires
/********************************/

@media (min-width: 481px) { 

	.old-church-img,
	.pastor-pic {
		width: 30%;
		float: left;
		margin-right: 2.5%;
	}

	.past-pastors-img {
		margin-top: 5rem;
	}

	.pastors,
	.history-section,
	.pastor-bio {
		width: 65%;
		float: left;
		margin-left: 2.5%;
	}

	#logo {
		display: none;
	}

	#d-logo {
		display: inline-block;
		float: left;
	}

	.church-info .container {
		width: 900px;
	}

	.mvv-container {
		max-width: 500px;
	}

	#btn,
	input[type="submit"],
	button[type="submit"] {
		display: inline-block;
	  width: auto;
	}

}

@media (min-width: 768px) { 

	header {
		padding-top: 2rem;
	}

	#d-logo {
		display: inline-block;
		float: none;
	}

	.intro-container {
		max-width: 700px;
	}

	.main-header {
		display: inline-block;
	}

	#menu-btn {
		display: none;
	}

	.main-header {
		display: block;
		text-align: center;
	}

	#d-logo {
		font-size: 2.2rem;
	}

	nav {
		display: block;
		text-align: center;
	}

	nav {
		width: 100%;
		text-align: center;
	}

	nav li,
	nav a {
		display: inline;
	}

	nav a {
		padding: 0 0.4rem 0.5rem;
		margin: 0 0.8rem;
		text-decoration: none;
	}

	nav {
		display: block;
		overflow: hidden;
		float: right;
	}

	ul.navigation li {
		display: inline;
	}

	ul.navigation li a {
		display: inline-block;
		font-size: 1rem;
	}

	nav li a:hover {
		color: #CF4647;
		padding-left: 0;
		background: transparent;
	}

	.login-logout-signin-mobile {
		display: none;
	}

	.login-logout-signin {
		display: block;
		float: right;
	}

	#d-logo {
		float: left;
	}

	.church-info-container {
		width: 100%;
	}

	.container {
		max-width: 800px;
	}

	.pastors .section-title {
		text-align: left;
		padding-left: 0;
	}

	.m-line {
		display: inline;
	}

	.article {
		margin: 2rem 0;
	}

}
	
@media (min-width: 1000px) {

	nav a {
		padding: 0 0.4rem 0.5rem;
		margin: 0 1.8rem;
		text-decoration: none;
	}
}

@media (min-width: 1025px) {

	.header-container {
		width: 71.25rem;
	}

	.church-info {
		padding: 10rem 0;
	}

	.church-info-container {
		max-width: 71.25rem;
		padding: 0 2rem;
	}

}

@media (min-width: 1262px) {

	.mvv-container {
		max-width: 1500px;
	}

	.mission h1,
	.values h1 {
		font-size: 2.2rem;
		float: left;
		position: relative;
		left: 22rem;
		width: 14rem;
		padding-top: 0.5rem;
	}

	.mission p,
	.values-list {
		float: right;
		width: 30rem;
		position: relative;
		right: 10rem;
	}

	.vision h1 {
		font-size: 2.5rem;
		float: right;
		position: relative;
		right: 22rem;
		width: 14rem;
		padding-top: 1.5rem;
	}

	.vision-list {
		width: 26rem;
		float: left;
		position: relative;
		left: 15rem;
	}

	.location-email {
		display: inline-block;
		margin: 0 4rem;
	}

	.front-img {
		width: 71.25rem;
	}

}


















