<footer>
	<div class="container">
		<p>Asbury Broadneck UMC <%= Date.today.year %> &copy;</p> 
		<p>Made by God a fearer</p>
	</div>
</footer>

<script type="text/javascript">
	$(function() {

		 $('#menu-btn').on('click', function() {
		 	$(this).text(function(i, text) {
		 		return text === 'Close' ? 'Menu' : 'Close'
		 	});
		 	$('nav').toggle('fast');
		 });

		$('.about-nav').hide();
		$('.about-link').on('click', function(e) {
			e.preventDefault();
			$('.about-nav').toggle('fast');
		});

	});
</script>

